*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 100px minmax(500px ,1fr ) 50px;
    row-gap: 30px;
}

header{
    text-align: center;
    background-color:  #189ad3;
    height: 100px;
    font-size: 34px;
    font-weight: bolder;
    color: white;
}
footer{
    width: 100%;
    background-color:  #189ad3;
    text-align: center;
    margin: auto;
    height: 60px;
    color: white;
    padding-top: 23px;
    font-size: 13px;
}

h2{
    padding-top: 30px;
}
main{
    width: 60%;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
}

form{
    width: 80%;
    margin: auto;
    
}

label,input {
    display: inherit;
    width: 100%;

 
}

input,select,button{
    margin-bottom: 20px;
    margin-top: 5px;
}

button{
    background-color: #1ebbd7 ;
}




label{
    font-weight: bold;
}







img{
    width: 80px;
}





table tr:nth-child(odd){
    background-color: #71c7ec;
}

table tr:nth-child(even){
    background-color: #189ad3;
}

td , th , td {
  
    padding: 3px 10px;
    vertical-align: middle;
    text-align: center;
}

th{
    background-color: #71c7ec;
  font-weight: bold;
    padding: 10px 35px;
    
  
}
tr {
    border-style: solid;
    border-width: 3px ;
    border-color: #71c7ec;
}


