@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 100px 1fr  100px;
  
}
header{
    text-align: center;
    background-color: #107dac;
    color: #71c7ec;

}
 footer{
     width: 100%;
     background-color: #107dac;

 }

 footer p{
     text-align: center;
 }

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button{
    background-color: #71c7ec;
}


table{
    background-color:#1ebbd7 ;

}
   